* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: none;
}

a {
  text-decoration: none;
  color: #000;
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.navbar nav {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #eee;
}

.navbar ul {
  position: relative;
  top: 40%;
  width: 100%;
  height: 50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navbar a {
  font-size: 1.25rem;
}

.cursor-inner {
  position: fixed;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.4s ease, height 0.4s ease;
}

.cursor-inner.grow {
  width: 50px;
  height: 50px;
  transition: width 0.2s ease, height 0.2s ease;
}

.cursor-outer {
  position: fixed;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
}

.cursor-outer.grow {
  width: 60px;
  height: 60px;
  transition: width 0.1s ease, height 0.1s ease;
}